@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 14px;
  --background-elevated: #ffffff;
  --background-subdued: #f3f3f3;
  --background: #ffffff;
  --foreground: #000717;
  --text: #000717;
  --text-subdued: #6b7280;
  --border: #000717;
  --border-subdued: #d1d5db;
  --card: #ffffff;
  --card-foreground: #000717;
  --text: #000717;
  --popover: oklch(1 0 0);
  --popover-foreground: #000717;
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --error: #d4183d;
  --warning: #d2a008;
  --success: #24a148;
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #000717;
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --outline-focused: #0f2594;
  --accent: #474bff;
}

.dark {
  --background: #000717;
  --background-elevated: #171b24;
  --background-subdued: #000717;
  --foreground: oklch(0.985 0 0);
  --text: #ffffff;
  --text-subdued: #6b7280;
  --border: #ffffff;
  --border-subdued: #717182;
  --card: #000717;
  --card-foreground: oklch(0.985 0 0);
  --text: #ffffff;
  --popover: #000717;
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --error: #d4183d;
  --warning: #d2a008;
  --success: #24a148;
  --border: #ffffff;
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --outline-focused: #fea90d;
  --accent: #474bff;
}

@theme inline {
  --color-background: var(--background);
  --color-background-elevated: var(--background-elevated);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-subdued: var(--text-subdued);
  --color-border: var(--border);
  --color-border-subdued: var(--border-subdued);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-text: var(--text);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-accent: var(--accent);

  --radius-small: calc(var(--radius) - 4px);
  --radius-medium: calc(var(--radius) - 2px);
  --radius-large: var(--radius);
  --radius-xlarge: calc(var(--radius) + 8px);
  --radius-xxlarge: calc(var(--radius) + 10px);

  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 24px;
  --space-xlarge: 32px;
  --space-xxlarge: 64px;
  --space-xxxlarge: 128px;

  --light: 300;
  --regular: 400;
  --semibold: 600;
  --bold: 700;

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-outline-focused: var(--outline-focused);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
